.navbar{
    display: flex;
    background-color: aqua;
}
.logo{
    color: black;
    padding: 0%;
    font-style: italic;
    font-weight: bold;
}
.left-side{
    color: blue;
    padding-top: 25px;
    padding-left: 35px;
}
.profile{
    color: blue;
    padding-left: 20px;
    padding-right: 10px;
    margin: auto;
    font-style: italic;
    cursor: pointer;

}
.details{
    padding-left: 10px;
    font-style: italic;
    cursor: pointer;
}
.socials{
    padding-left: 10px;
    font-style: italic;
    cursor: pointer;
}
.home{
    cursor: pointer;
}
.welcome{
    color: darkblue;
    font-size: medium;
    font-style: italic;
    font-weight: lighter;
}
.intro{
    font-size: larger;
}
.programming{
    color: cadetblue;
    font-style: bold;
}
.languges{
    background-color: blue;
}
.Buttons{
    display: flex;
    padding-left: 40px;
}
.contact{
    background-color: deepskyblue;
    padding-right: 50px;
    border-radius: 10px;
    cursor: grab;
    border: 10px;
}
.explore{
    padding-left: 50px;
    background-color: deepskyblue;
    border-radius: 10px;
    cursor: grab;
    border: 10px;
}
.words{
    display: flex;
    padding-right: 100px;
    background-color: azure;
}
.image img{
    border-radius: 30px;
}
.link{
    color: cyan;
    cursor: progress;
    transition: ease-out;
    text-rendering: optimizeLegibility;
}
.container{
    display: flex;
    padding: auto; 
}
.github{
    padding: 20px;
    border-color: black;
    border-radius: 20px;
    background-color: beige;
    justify-content: center;
    text-align:center;
    margin: 20px;
    border-style: solid;
}
.Email{
    border: black;
    border-radius: 10px;
    background-color: beige;
    border-style: double;
    box-sizing: content-box;
    border-bottom-style: groove;
    justify-content: center;
    margin: 40px;
} 
.main .words{
    background-color: cornsilk;
}
.intro{
    background-color: cyan;
}